{% extends "layouts/base.html" %}

{% block content %}
    <h1>Tasks</h1>

    <div class="card-container">        
        {% for task in tasks %}
            <div class="card">
                <h4> 
                    {% if task.done %}✅{% else %}⏰{% endif %} 
                    {{task.title}}
                </h4>
                
                <p>{{task.description}}</p>
                <h5>Project: {{task.project}}</h5>
                
                <button class="button" >Delete</button>
                <button class="button" >✅ Done</button>
            </div>
        {% endfor %}
    </div>
{% endblock content %}